doctype html
html
	head
		title App Title

		//- CSS Libraries

		//- App Specific CSS
		link(rel='stylesheet', href='/css/app.css')

	body

		h1 Hello World!

		//- JavaScript Libraries

		//- App Specific JavaScript
		script(src='/js/app.js')